# Compiled class file
**/HELP.md
**/target/
target/
!**/src/main/**
!**/src/test/**
*.DS_Store

### IntelliJ IDEA ###
.idea
**/.idea/**
**/*.iws
**/*.iml
**/*.ipr

**/*.db

**/*jpb/
**/.mvn
**/mvn*

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
*.iml
